    body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        background-image: url("../images/fon2.jpeg");
        width: 100%;
        background-size: cover;
        height: 100%;
    }
    
    canvas {
        border-radius: 20px;
    }
    
    .div-juego {
        padding-top: 2%;
        display: flex;
        justify-content: center;
    }