    body {
        height: inherit;
        background: #000900;
        background-image: url("../images/fon2.jpeg");
        background-size: cover;
        background-position: center;
        font-family: Arial, Helvetica, sans-serif;
        user-select: none;
    }
    
    canvas {
        cursor: none;
        border-radius: 10px;
    }
    
    .wrapper {
        position: relative;
        width: 800px;
        margin: 10rem auto;
        box-shadow: 1px 1px 80px darkblue;
        border-radius: 10px;
    }
    
    .div-juego {
        margin-top: 1%;
    }
    
    .reglas {
        padding: auto;
        width: 25%;
        height: 50%;
        position: absolute;
        opacity: 10px;
        margin-top: -60px;
    }
    
    .gameRules__text {
        top: 0;
        left: 0;
        text-align: center;
        color: white;
    }
    
    .gameRules__header {
        text-align: center;
        font-size: 23px;
        font-weight: bold;
        color: blue;
        text-shadow: 0 0 3px white;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-bottom: 1rem;
    }
    
    .controles__header {
        text-align: center;
        font-size: 15px;
        font-weight: bold;
        color: darkred;
        text-shadow: 0 0 3px white;
        text-transform: uppercase;
        letter-spacing: 5px;
        margin-bottom: 1rem;
    }
    
    .gameRules .gameRules__text {
        margin-bottom: 1rem;
    }
    
    .left {
        transform: translateX(-120%);
        opacity: 1;
        transition: transform 1700ms linear, opacity 2s ease-in;
    }
    
    .right {
        transform: translateX(420%);
        opacity: 1;
        transition: transform 1700ms linear, opacity 2s ease-in;
    }
    
    .controles {
        display: flex;
    }